<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<!-- 
        See https://github.com/nlog/nlog/wiki/Configuration-file 
        for information on customizing logging rules and outputs.
    -->
	<targets>
		<target name="file" xsi:type="File"
            layout="${longdate} ${level:uppercase=true} ${ndlc} ${logger:shortName=true} ${message} ${exception:format=tostring}"
            fileName="${basedir}/logs/${shortdate}.txt"
            keepFileOpen="false"
            encoding="utf-8" />
		<target name="file-aspnetcore" xsi:type="File"
            layout="${longdate} ${level:uppercase=true} ${ndlc} ${logger:shortName=true} ${message} ${exception:format=tostring}"
            fileName="${basedir}/logs/${shortdate}.aspnetcore.txt"
            keepFileOpen="false"
            encoding="utf-8" />
		<target name="file-ef" xsi:type="File"
            layout="${longdate} ${level:uppercase=true} ${ndlc} ${logger:shortName=true} ${message} ${exception:format=tostring}"
            fileName="${basedir}/logs/${shortdate}.ef.txt"
            keepFileOpen="false"
            encoding="utf-8" />
	</targets>

	<rules>
		<logger name="Microsoft.AspNetCore.*" minlevel="Debug" writeTo="file-aspnetcore" final="true"  />
		<logger name="Microsoft.EntityFrameworkCore.*" minlevel="Debug" writeTo="file-ef" final="true"  />
		<logger name="*" minlevel="Debug" writeTo="file" />
	</rules>
</nlog>